body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background: #2f4d90;
    padding: 20px;
    font-size: 28px;
}

.lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    background: #f6f6f6;
    border: rgba(223, 225, 229, 0);
    padding: 20px;
    margin: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-top: 4px solid #2f4d90;
    border-bottom: 4px solid #2f4d90;
}
